/*Classes for Buttons*/
.flatButton {
   background-image: none;
   background-color: transparent;
   border: 0px solid transparent;
}

.btn-red {
   color: #fff;
   background-color: #f4545f !important;
   &:active, &:hover, &:focus {
      color: #fff;
      background-color: #f5454f !important;
   }
}

.text-trim{
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.divider {
   height: 1px;
   overflow: hidden;
   margin: 10px 20px;
   background-color: #e5e5e5;
}

.error {
   color: #f00;
   display: block;
   font-size: 12px;
   margin-top: 5px;
   line-height: 1;
   font-weight: 500;
   margin-bottom: -10px;
}

.fb-bg {
   background-color: rgb(59, 89, 152);
}

.gp-bg {
   background-color: rgb(215, 69, 50);
}
